html {
  background-color: rgb(50, 50, 50);
}

body {
  font-family: arial;
  margin: 0 auto;
  width: 60%;
}

.platform {
  overflow: hidden;
  width: 100% !important;
  margin-left: 5%;
}

.actor img {
  width: 100%;
  z-index: 999;
  height: 100%;
}